mat-card {
  margin-bottom: 20px;
}

.user-card {
  width: 100%;

  mat-card-header {
    display: flex;
    align-items: center;
    justify-content: center;

    ::ng-deep .mat-card-header-text {
      margin: 0px;
      flex-grow: 1;
    }
  }
}
