.container,
.desktop-menu {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 40px;
  position: fixed;
  z-index: 1;
  left: 0px;

  background-color: aliceblue;
  padding: 10px;

  .desktop-menu {
    @media screen and (max-width: 720px) {
      display: none;
    }
  }

  .links-menu {
    flex-grow: 1;

    a {
      margin: 0px 15px;
    }
  }

  .logout {
    width: 70px;
  }

  .mobile-menu {
    display: none;

    .links-mobile-menu-hidden {
      width: 320px;
      position: fixed;
      left: -330px;
      transition: all 0.5s ease;
    }

    .links-mobile-menu-show {
      width: 320px;
      height: 100vh !important;
      position: fixed;
      left: 0px;
      transition: all 0.5s ease;
      background-color: white;
      z-index: 1;

      display: flex;
      flex-flow: column;
    }

    @media screen and (max-width: 720px) {
      display: flex;
      // align-items: center;
      width: 100%;
      min-height: 40px;
      position: fixed;
      z-index: 1;
      left: 0px;
    }
  }
}
